* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #030403;
    color: #fff;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#game-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    image-rendering: pixelated;
    box-shadow: 0 0 50px rgba(10, 50, 20, 0.4); /* subtle glowing green shadow */
    background-color: #000;
}
